<%= form_for @p, :url => {:controller=>"pieces", :action=>"update", :id => @p.id} do |f|%>
<div class="form-stacked">
<div class="row" style="margin-left:10%; margin-bottom:2%">
    <%= f.label :condition_notes %>
    <%= f.text_area :condition_notes, :default => @p.condition_notes, :cols => 24, :rows => 6 %>
</div>
<div class="row" style="margin-left:10%; margin-top:2%">
    <%= f.submit%>
</div>
</div>
<% end %>