<% unless @p.dimensions.blank? %>
<div class="row" style="margin-bottom:20px">
    Dimension <strong><%= @p.dimensions%></strong>
</div>
<% end %>
<% unless @p.framed_dimension.blank? %>
<div class="row" style="margin-bottom:20px">
    Framed Dimension <strong><%= @p.framed_dimension%></strong>
</div>
<% end %>