<div id="galleryCarousel" class="carousel" style="margin-top:10px">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <% first_image = true %>
    <% for image in @gallery.gallery_images %>
        <% if first_image %>
            <div class="item active">
            <% first_image = false%>
        <% else %>
            <div class="item">
        <% end %>
            <img src="<%=image.photo.url(:original)%>" style="display: block;   margin-left: auto;   margin-right: auto;"/>
        </div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#galleryCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#galleryCarousel" data-slide="next">&rsaquo;</a>
</div>
<%= link_to "View Piece", piece_path(@piece), :class => "btn btn-primary info offset3",:style=> "width:50%; margin-bottom:10px" %>